    <footer>
  <div class="footer-conteneur">
    <div class="footer-div">
      <h4>Contactez-nous</h4>
      <ul>
        <li><a href ="/lambertnoah.github.io/cv/CV_NOAH_LAMBERT.pdf">CV PDF</a></li>
        <li>Téléphone : <a href="tel:+33789069811">07 89 06 98 11</a></li>
        <li>Email : <a href="mailto:lambert.noah@lycee-saintdenis.com">lambert.noah@lycee-saintdenis.com</a></li>
      </ul>
    </div>

    <div class="footer-div">
      <h4>Liens rapides</h4>
      <ul>
        <li><a href="/lambertnoah.github.io/html/projet.html">Projets</a></li>
        <li><a href="/lambertnoah.github.io/html/competence.html">Compétences</a></li>
        <li><a href="/lambertnoah.github.io/html/contact.html">Contact</a></li>
      </ul>
    </div>

    <div class="footer-div">
      <h4>Suivez-moi</h4>
      <ul>
        <li><a href="https://www.linkedin.com/in/noah-lambert-39b223296/">LinkedIn</a></li>
        <h4>Conditions d'utilisation</h4>
        <li><a href="/lambertnoah.github.io/html/mentionslegales.html">Mentions légales</a></li>
        <li><a href="/lambertnoah.github.io/html/politiqueconfidentialite.html">Politique de confidentialité</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 Lambert Noah. Tous droits réservés.</p>
  </div>
</footer>
