    <header class="entetepage1">
        <div class="logo">
            <img src="image/LogoStDenis.png" alt="Logo">
        </div>
        <nav role="navigation" aria-label="Main menu" class="main-menu">
            <ul>
              
              <li class="navli"><a href="/lambertnoah.github.io/html/projet.html">Projets</a>
                  <ul class="sousmenu">

                  </ul>
              </li>
              <li class="navli" ><a href="html/competence.html">Compétences</a>
                  <ul class="sousmenu">

                  </ul>
              </li>
              <li class="navli"><a href="html/veille.html">Veille</a>
                  <ul class="sousmenu">

                  </ul>
              </li>
              <li class="navli"><a href="html/contact.html">Contact</a></li>
          </ul>
      </nav>
      <div class="nav-buttons">
          <button class="menu-toggle">&#9776;</button>
      </div>
    </header>