    <header class="entetepage1">
        <div class="logo">
            <img style="width: 120px; height: 120px;" src="/lambertnoah.github.io//image/photo3.png" alt="Logo">
        </div>
        <nav role="navigation" aria-label="Main menu" class="main-menu">
            <ul>
              <li class="navli"><a href="/lambertnoah.github.io/index.html">Acceuil</a></li>
              <li class="navli"><a href="/lambertnoah.github.io/html/projet.html">Projets</a>
                  <ul class="sousmenu">

                  </ul>
              </li>
              <li class="navli" ><a href="/lambertnoah.github.io/html/competence.html">Compétences</a>
                  <ul class="sousmenu">

                  </ul>
              </li>
              <li class="navli"><a href="/lambertnoah.github.io/html/veille.html">Veille</a>
                  <ul class="sousmenu">

                  </ul>
              </li>
              <li class="navli"><a href="/lambertnoah.github.io/html/contact.html">Contact</a></li>
          </ul>
      </nav>
              <div class="logo2">
            <img src="/lambertnoah.github.io/image/logo_st_denis.png" alt="Logo">
        </div>

    </header>